@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .custom-scrollbar::-webkit-scrollbar {
        width: 4px;
    }

    .custom-scrollbar::-webkit-scrollbar-track {
        background: transparent;
    }

    .custom-scrollbar::-webkit-scrollbar-thumb {
        background-color: rgba(255, 255, 255, 0.1);
        border-radius: 20px;
    }

    .custom-scrollbar::-webkit-scrollbar-thumb:hover {
        background-color: rgba(255, 255, 255, 0.25);
    }
    
    /* Firefox Support */
    .custom-scrollbar {
        scrollbar-width: thin;
        scrollbar-color: rgba(255, 255, 255, 0.1) transparent;
    }
}

/* NProgress Customization */
#nprogress .bar {
    height: 4px !important; /* Increase height */
    box-shadow: 0 0 10px #eab308, 0 0 5px #eab308; /* Glow effect */
    background: #eab308 !important;
}

#nprogress .peg {
    box-shadow: 0 0 10px #eab308, 0 0 5px #eab308; 
}
